<h1>Users List</h1>

<p>Here you'll find all users in db</p>

<p>To add new user: <%= link_to "New User", new_user_path %></p>

<div class="container--big">
    <% @users.each do |user| %>
        <div class="card user">
            <p>Name: <%= link_to user.name, user %></p>
            <p>Age: <%= user.age %></p>
            <p>Number os contacts: <%= user.contacts.count %></p> 
            <p>Total phone numbers: <%= user.phones.count %></p>
            <div>
                <%= link_to "Edit User", edit_user_path(user) %>
                <%= link_to "Delete User", user, data: {
                     method: :delete,
                     confirm: "This action will delete #{user.name}. Do you confirm this action? " } %>
            </div>         
        </div>
    <% end %>
</div>
