<h1>Users List</h1>

<p>Here you'll find all users in db</p>

<div class="container--big">
    <% @users.each do |user| %>
        <div class="card user">
            <p>Name: <a href="/users/<%= user.id %>"><%= user.name %></p></a>
            <p>Age: <%= user.age %></p>
            <p>Number os contacts: <%= user.contacts.count %></p> 
            <p>Total phone numbers: <%= user.phones.count %></p>                
        </div>
    <% end %>
</div>
