<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<p>To go back to Users List: <%= link_to "Users", users_path %></p>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @user.errors.full_messages_for(:name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :age %><br>
    <%= form.number_field :age %>
    <% @user.errors.full_messages_for(:age).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :biography %><br>
    <%= form.text_area :biography %>
    <% @user.errors.full_messages_for(:biography).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>