<h1>Informações detalhadas</h1>
<p>Abaixo você encontrará informações detalhadas dos contatos</p>
<h2>Usuário: <%= @user.name %> </h2>
<% @user.contacts.each do |contact| %>
    <div class="contact__card">
        <p>Nome: <%= contact.name %></p>
        <p>Data de Nascimento: <%= contact.birth_date %></p>
        <% @phones.where(contact_id: contact.id).each_with_index do |phone, index| %>
            <p>Telefone <%= index + 1 %></p>
            <p>Numero: <%= phone.number %> </p>
            <p>Principal: <%= phone.main %> </p>
            <p>Tipo: <%= phone.kind %> </p>
        <% end %>
    </div>
<% end %>